<div class="navbar">
  <div class="navbar-left">
    <% if user_signed_in? %>
      <%= link_to 'News', root_path, class: 'navbar-link' %>
      <%= link_to 'My Profile', user_path, class: 'navbar-link' %>
    <% end %>
  </div>
</div>