<p id="notice"><%= notice %></p>

<p>
  <strong>Stars:</strong>
  <%= @chapter_rating.stars %>
</p>

<%= link_to 'Edit', edit_chapter_rating_path(@chapter_rating) %> |
<%= link_to 'Back', chapter_ratings_path %>
