<% provide :title, 'Welcome' %>
<h1 align="center" id="stories-title">News</h1>
<div class="divider"></div>
<ul class="list-group" id='stories'>
	<% @stories.each do |s| %>
		<li class="list-group-item"><%= link_to s.title, story_path(s) %></li>
  <% end %>
</ul>


<% if user_signed_in? && current_user.is_admin? %>
	<div><%= button_to "Create new story", new_story_path, :id => "new-story-btn",
      :class => "btn btn-warning", :method => :get %></div>
<% end %>

