<p>
  Hello!
</p>

<p>
  <%= @user.full_name %> thinks you might like the serie <%= @serie.title %>,
  you can check it out here: <%= link_to 'See serie', @serie %>
</p>

<p>
  Greetings,
  Series4u!
</p>
