<div class="graph">
  <%= pie_chart @series_favs, title: "Series with the most favorited chapters", download: true %>
</div>

<div class="graph">
  <%= column_chart @top_genres, title: "Most seen genres", download: true %>
</div>
