<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @serie_review.content %>
</p>

<%= link_to 'Edit', edit_serie_review_path(@serie_review) %> |
<%= link_to 'Back', serie_reviews_path %>
