<p>
  Greetings!
</p>

<p>
  <%= @user.full_name %> thinks you might like <%= @chapter.title %>,
  you can check it out here: <%= link_to 'See chapter', @chapter %>
</p>

<p>
  Greetings,
  Series4u!
</p>
