<h1 align="center">My Schedule</h1>

<%= month_calendar events: @to_sees do |date, to_sees| %>
  <%= date.day %>

  <% to_sees.each do |to_see| %>
    <div align="center">
      <strong><%= to_see.chapter.title %></strong>
    </div>
  <% end %>
<% end %>
